[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
notebook = "jupyter notebook"

[dev-packages]
pylint = "*"

[packages]
plotly = "*"
jupyter = "*"
numpy = "*"
pandas = "==0.23.4"
psycopg2 = "*"

[requires]
python_version = "3.7"
